<template name="adminTopNav">
    <ul class="nav nav-tabs">
        <li class="{{active '/admin'}}">
            <a href="/admin"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
        </li>
        <li class="{{active '/admin/rewards'}}">
            <a href="/admin/rewards"><i class="glyphicon glyphicon-usd"></i> Rewards</a>
        </li>
        <li class="{{active '/admin/users'}}">
            <a href="/admin/users"><i class="glyphicon glyphicon-user"></i> Users</a>
        </li>
    </ul>
</template>

<template name="adminView">
    {{> adminTopNav}}
</template>