<template name="activeModal">
    <div class="activeModal modal fade" tabindex="-1" style="display: none;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{#if isActive selectedUser}}Ban{{else}}Unban{{/if}} {{username
                    selectedUser}}</h4>
            </div>
            <div class="modal-body">
                <p>Reason</p>
                <textarea class="reason" placeholder="Please be descriptive"></textarea>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a class="btn btn-primary action">{{#if isActive selectedUser}}Ban!{{else}}Unban{{/if}}</a>
            </div>
        </div>
    </div>
</template>

<template name="roleModal">
    <div class="roleModal modal fade" tabindex="-1" style="display: none;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{#if isAdmin selectedUser}}Remove{{else}}Make{{/if}} admin: {{username
                    selectedUser}}</h4>
            </div>
            <div class="modal-body">
                <p>Reason</p>
                <textarea class="reason" placeholder="Please be descriptive"></textarea>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a class="btn btn-primary action">{{#if isAdmin selectedUser}}Remove{{else}}Make{{/if}} admin</a>
            </div>
        </div>
    </div>
</template>

<template name="adminUsersView">
    {{> activeModal}}
    {{> roleModal}}

    <div class="adminUserView">
        {{> adminTopNav}}
        <div class="row">
            <div class="searchFilters col col-lg-3 panel">
                <div class="panel-heading">User
                </div>
                <input type="text" class="userId" placeholder="id">
                <input type="text" class="userGithub" placeholder="github name">
                <button class="btn btn-default pull-right">Search</button>
            </div>
            <div class="col col-lg-9">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>GitHub</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each users}}
                    <tr>
                        <td>
                            {{#unless isActive}}<i class="glyphicon glyphicon-ban-circle" rel="tooltip"
                                                   data-placement="bottom"
                                                   title="The user is banned."></i>{{/unless}}

                            {{#if isAdmin}}<i class="glyphicon glyphicon-star" rel="tooltip" data-placement="bottom"
                                              title="This user is an admin."></i>{{/if}}
                        </td>
                        <td>{{_id}}</td>
                        <td>{{username}}</td>
                        <td>{{userEmail}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-user"></i> User <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="openActiveModal"><i class="glyphicon glyphicon-ban-circle"></i>
                                        {{#if isActive}}Ban{{else}}Unban{{/if}}</a></li>
                                    <li><a class="openRoleModal"><i class="glyphicon glyphicon-star"></i> {{#if
                                        isAdmin}}Remove{{else}}Make{{/if}} admin</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>