{
    "dist": "build",
    "test": "tests",
    "appRootUrl": {
        "local": "http://localhost:3000",
        "qa": "https://testserver.com",
        "dist": "https://liveserver.com"
    },
    "githubClientId": {
        "local": "A github client id",
        "qa": "Another github client id",
        "dist": "Another github client id"
    },
    "githubScopes": {
        "local": ["user:email", "repo"],
        "qa": ["user:email", "repo"],
        "dist": ["user:email", "public_repo"]
    },
    "webSocketUri": {
        "local": "ws://localhost:3000/websocket",
        "qa": "wss://testserver.com/websocket",
        "dist": "wss://liveserver.com/websocket"
    }
}