{
    "dist": "build",
    "test": "tests",
    "baseUrl": {
        "local": "localhost:3000",
        "qa": "localhost:3000",
        "dist": "localhost:3000"
    },
    "rootUrl": {
        "local": "http://localhost:3000",
        "qa": "http://localhost:3000",
        "dist": "http://localhost:3000"
    }
}