{
    "AWS_ACCESS_KEY_ID": null,
    "AWS_IMAGE_BUCKET": "codebountydev-images",
    "AWS_SECRET_ACCESS_KEY": null,
    "BITCOIN_CLIENT": {
        "host": "localhost",
        "port": 18332,
        "user": "oldgregg",
        "pass": "4Mr7LjcTbx66DpVvzkA93AvJesx6HpSY4974CXn57TXZ"
    },
    "BITCOIN_LOCK_INTERVAL": 10,
    "BITCOIN_PASSPHRASE": "Put your wallet encryption password here",
    "BITCOIN_SECRET": "Put a random string of characters here",
    "CHARLIE_EMAIL": "Charlie <charlie@codebounty.co>",
    "GITHUB_CLIENTID": "Your Github API client ID",
    "GITHUB_COMMENTER": "Access token for Code Bounty Charlie goes here",
    "GITHUB_SECRET": "Your Github API client secret",
    "PAYPAL_APPLICATIONID": "Your PayPal app ID",
    "PAYPAL_PASSWORD": "Your PayPal app password",
    "PAYPAL_PAYMENTS_EMAIL": "support@codebounty.co",
    "PAYPAL_REDURL": "https://www.sandbox.paypal.com/",
    "PAYPAL_REQURL": "https://svcs.sandbox.paypal.com/",
    "PAYPAL_SANDBOX_EMAIL": "support-facilitator@codebounty.co",
    "PAYPAL_SIGNATURE": "Your PayPal signature",
    "PAYPAL_USERID": "Your PayPal user id",
    "public": {
        "environment": "local"
    },
    "ROOT_URL": "https://localmachine.fwd.wf/",
    "SMTP_URL": null,
    "SUPPORT_EMAIL": "support@codebounty.co"
}