<template name="bitcoinFundView">
<style type="text/css">
.container {
    text-align: center;
    margin-top: 2em;
}
</style>
<div class="container">
    <div id="loadingMessage">
        <h1>Processing...</h1>
    </div>
    <div id="paymentMessage" style="display:none">
        <a href="bitcoin:{{result.address}}"><div id="qrCode"></div></a>
        <h3>To fund a bounty, send at least {{minimumPayment}} to <a href="bitcoin:{{result.address}}">{{result.address}}</a></h3>
    </div>
    <div id="setupReceiverAddress" style="display:none">
        <h3>You have not yet registered a payout address.</h3>
        <h3>To proceed, please enter a Bitcoin address below.</h3>
        <h3>All your refunds and rewards will be sent to this address.</h3>
        <form action="/setupReceiverAddress">
            <input type="text" name="receiverAddress" />
            <input type="hidden" name="redirect" />
            <input type="submit">
        </form>
    </div>
</div>
</template>
