<template name="rewardView">
    <style type="text/css">
    .btc.currencySymbol {
        height: 1em;
        width: 0.75em;
        margin-top: 0.15em;
    }
    
    .invalid .btc.currencySymbol path {
        fill: red;
    }
    
    .payoutTotalLabel .btc.currencySymbol, .calculatedTotal .btc.currencySymbol {
        position: relative;
        top: .12em;
    }
    </style>
    <div class="container">
        <h3>Contributor Payout:
            <span class="payoutTotalLabel">Total:<span class="payoutTotalAmount"><span class="usd currencySymbol">$</span>{{total}}</span></span>
        </h3>
        <ul>
            {{#each reward.receivers}}
            <li class="contributorRow">
                <input type="checkbox" class="shouldPay" {{#if receiverHasReward}}checked="checked" {{/if}}/>

                <label name="contributorName" class="contributorName">{{email}}</label>
                <div class="rewardInputGroup">
                    <div class="rewardSlider"></div>
                    <div class="inputWrapper">
                        <span class="usd currencySymbol">$</span>
                        <input class="rewardInput" type="number" min="{{minimum}}" max="{{total}}"
                               value="{{receiverReward}}" {{#unless receiverHasReward}}disabled {{/unless}}/>
                    </div>
                    <div class="inputWrapper">
                        <label class="rewardPercent">{{receiverReward true}}</label>
                        <span class="percentSign">%</span>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="calculatedTotal{{#unless isValid}} invalid{{/unless}}">Payout Amount: <span class="usd currencySymbol">$</span><span
                class="calculatedTotalAmount">{{receiverTotal}}</span></div>
        <div class="bottomBar">
            <div class="validationError">Please make sure the payout amount is equal to the total.</div>
            <div class="rewardButtonGroup">
                <button class="rewardButton{{#unless isValid}} disabled{{/unless}}"{{#unless isValid}} disabled{{/unless}}>Reward the coders</button>
                <button class="closeButton">Cancel</button>
            </div>
        </div>
    </div>
</template>
