<template name="rewardView">
    <div class="container">
        <h3>Contributor Payout:
            <span class="payoutTotalLabel">Total:<span class="payoutTotalAmount">
                {{{currencySymbol}}}{{total}}</span>
            </span>
        </h3>
        <ul>
            {{#each reward.receivers}}
            <li class="contributorRow">
                <input type="checkbox" class="shouldPay" {{#if receiverHasReward}}checked="checked" {{/if}}/>

                <label name="contributorName" class="contributorName">{{email}}</label>

                <div class="rewardInputGroup">
                    <div class="rewardSlider noUiSlider"></div>
                    <div class="inputWrapper">
                        {{{currencySymbol}}}
                        <input class="rewardInput" type="number" min="{{minimum}}" max="{{total}}" step="{{step}}"
                               value="{{receiverReward}}" {{#unless receiverHasReward}}disabled {{/unless}}/>
                    </div>
                    <div class="inputWrapper">
                        <label class="rewardPercent">{{receiverReward true}}</label>
                        <span class="percentSign">%</span>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="calculatedTotal{{#unless isValid}} invalid{{/unless}}">
            Payout Amount: {{{currencySymbol}}} <span class="calculatedTotalAmount">{{receiverTotal}}</span>
        </div>
        <div class="bottomBar">
            <div class="validationError">Please make sure the payout amount is equal to the total.</div>
            <div class="rewardButtonGroup">
                <button class="rewardButton{{#unless isValid}} disabled{{/unless}}"
                {{#unless isValid}} disabled{{/unless}}>Reward the coders
                </button>
                <button class="closeButton">Cancel</button>
            </div>
        </div>
    </div>
</template>
