<template name="rewardBountyView">
    <div class="container">
        <h3>Contributor Payout:
            <span class="payoutTotalLabel">Total:<span class="payoutTotalAmount">${{totalBounty}}</span></span>
        </h3>
        <ul>
            {{#each contributors}}
            <li class="contributorRow">
                <input type="checkbox" class="shouldPay"/>
                <div class="contributorName">{{name}}</div>
                <div class="rewardInputGroup">
                    <div class="rewardSlider"></div>
                    <div class="inputWrapper">
                        <span class="dollarSign">$</span>
                        <input type="number" min="{{minimum}}" max="{{total}}" class="rewardInput" disabled/>
                    </div>
                    <div class="inputWrapper">
                        <input class="rewardPercent" disabled/>
                        <span class="percentSign">%</span>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>

        <div class="rewardButtonGroup">
            <button id="rewardButton">Reward the coders</button>
            <button id="closeButton">Cancel</button>
        </div>
    </div>
</template>