.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toggle-slide .toggle-on,.toggle-slide .toggle-off,.toggle-slide .toggle-blob {
  float: left;
}
.toggle-slide .toggle-blob {
  position: relative;
  z-index: 99;
  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.toggle-github .toggle-slide {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05);
          box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}
.toggle-github .toggle-slide .toggle-on,.toggle-github .toggle-slide .toggle-off,.toggle-github .toggle-slide .toggle-blob {
  font-size: 11px;
  font-weight: bold;
}
.toggle-github .toggle-slide .toggle-on, .toggle-github .toggle-select .toggle-inner .active {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #6cc644;
  background-image: none;
}
.toggle-github .toggle-slide .toggle-off, .toggle-github .toggle-select .toggle-on {
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  white-space: nowrap;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
}
